.BattleArena {
    height: 100%;
    display: flex;
    flex-direction: column;
}
.Arena {
    background-image: linear-gradient(315deg, #d8dede 0%, #e5bdf6 74%);
    height: 77vh;  
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    z-index: 1;
}

.players {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 60%;
}

.PlayerCard {
    width: 40%;
    height: 90%;
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 60px;
    background-color: rgba(255,255,255, 0.7);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 5px;
    box-shadow: 6px 6px 5px 0px rgba(33,33,33,0.64);
}

.VSblock {
    height: 100%;
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: flex-start;
}

.VStitleArena {
    text-align: center;
    font-family: 'Allan', cursive;
    color: white;
    text-shadow: 2px 2px 5px rgba(33,33,33,0.64);
    margin-top: 40px;
    margin-bottom: 100px;
    font-size: 28px;
}

.VS {
    text-align: center;
    font-family: 'Allan', cursive;
    color: white;
    text-shadow: 2px 2px 5px rgba(33,33,33,0.64);
    font-size: 48px;
}

.pannel {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 40%;
}

.Arena button {
    height:20px; 
    width:100px; 
    margin-top: 10px;
}

div.log {
    background-color: white;
    height: 100px;
    width: 250px;
    margin: 10px;
    border-radius: 5px;
    text-align: center;
    line-height: 30px;
}

@media screen and (min-width: 800px) {
    .BattleArena {
        height: 99%;
        width: 100%;
    }
    .Arena {
        height: 69vh;  
        padding-top: 20px;
    }
    .players {
        justify-content: space-evenly;
        height: 50%;
    }
    .PlayerCard {
        width: 20%;
        height: 90%;
        background-color: rgba(255,255,255, 0.7);
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        border-radius: 5px;
        box-shadow: 6px 6px 5px 0px rgba(33,33,33,0.64);
    }
    .VS {
        font-size: 124pt;
    }
    .titleArena {
        position: top;
        margin-bottom: 25px;
        font-family: 'Allan', cursive;
        font-size: 40px;
    }
    .pannel {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 25%;
    }
    div.log {
        width: 500px;
        height: 80px;
        margin: 10px;
        border-radius: 5px;
        text-align: center;
        line-height: 40px;
        font-family: 'Covered By Your Grace', cursive;
        font-size: 20px;
    }
    .Arena button {
        height:20px; 
        width:100px; 
        margin-top: 10px;
    }
}    