.home {
    background-image: linear-gradient(to right, #fcf6ba 0%, #bf953f  82%);
    background-attachment: fixed;
}

@media screen and (min-width: 800px) {
    .home {
        background-image: url("https://images.alphacoders.com/675/thumb-1920-675142.png");
        background-size:cover;
    }
}   



