.Infos {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(315deg, #d8dede 0%, #e5bdf6 74%);
    z-index: 1;
}
.pageTitle {
    font-size: 18px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.InfosList {
    height:80vh;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
@media screen and (min-width: 800px) {
.Infos {
    height: 83vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 101;
    text-align: center;
    background-image: linear-gradient(315deg, #d8dede 0%, #e5bdf6 74%);
}
.pageTitle {
    margin-top: 20px;
    font-size: 22px;
}
.InfosList {
    height: 100%;
    width: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; 
    align-items: center;
    justify-content: center;
}
}