.Infos {
    height: 80vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-image: linear-gradient(315deg, #d8dede 0%, #e5bdf6 74%);
    padding-top: 20px;
}
.pageTitle {
    margin-top: 30px;
}
.InfosList {
    height: 40vh;
    width: 90%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; 
    align-items: center;
    justify-content: center;
    padding-top: 40px;
}
@media screen and (min-width: 800px) {
.Infos {
    height: 82vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 40px;
    background-image: linear-gradient(315deg, #d8dede 0%, #e5bdf6 74%);
}
.pageTitle {
    margin-top: 20px;
    font-size: 22px;
}
.InfosList {
    height: 43vh;
    width: 50%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; 
    align-items: center;
    justify-content: center;
    padding-top: 30px;
}
}