.Cardprofile {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 25%;
    padding-bottom: 15px;
    top: 0;
    z-index: 100;
    background-color: white;
    color: var(--text-color);
    font-size: 12px;
}
.id-card {
    width: 90%;
    height: 120px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}
.Cardpicture-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 250px;
    height: 250px;
    object-fit: contain;

}
.Cardprofile-picture {
    width: 97%;
    height: 97%;
    border-radius: 50%;
    object-fit: contain;
    object-position: 50% 50%;
}
.Cardprofile-infos {
    display: flex;
    flex-direction: column;
    align-items: right;
    justify-content: space-around;
    padding-left: 20px;
}
.Cardprofile-name {
    text-decoration: none;
    color: --text-color;
}
.Cardprofile-category {
    font-weight: 600;
} 
.Cardprofile-description {
    width: 90%;
    padding-top: 5px;
    padding-bottom: 10px;
    text-align: center;
    font-style: italic;
    font-size: 12px;
}
img.Or {
    border: 2px solid var(--gold-color);
    padding: 2px;
}
img.Bronze {
    border: 2px solid var(--bronze-color);
    padding: 2px;
}
img.Argent {
    border: 2px solid var(--silver-color);
    padding: 2px;
}

@media screen and (min-width: 800px) {
    .Cardprofile {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 65%;
        padding-bottom: 15px;
        top: 0;
        z-index: 100;
        background-color: white;
        color: var(--text-color);
        font-size: 12px;
    }
    .id-card {
        width: 30%;
        height: 200px;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        margin-bottom: 10px;
    }
    .Cardpicture-container {
        width: 125px;
        height: 125px;
        object-fit: contain;
        object-position: 50% 50%;
    }
    .Cardprofile-picture {
        border-radius: 50%;
        width: 115px;
        height: 115px;
        object-position: 50% 0%;
    }
    .Cardprofile-infos {
        font-size: 16px;
        object-position: 50% 100%;
    }
}






