.Formulaire {
    color: rgb(47, 55, 81);
    text-align: center;
    height: 85vh;
    background-image: linear-gradient(315deg, #d8dede 0%, #e5bdf6 74%);
    display: flex;
}

.Formulaire h1{
    padding-top: 55px;
    margin-bottom: 30px;
}

.TextGlobal {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    opacity: 0.85;
    width: 80%;
    height: 350px;
    box-shadow: 6px 6px 5px 0px rgba(33,33,33,0.64);
    border-radius: 5px;
    background-color: rgba(255,255,255, 0.4);
}

ul {
    list-style: none;
}

li {
    height: 1.5em;
}

label {
    display: inline-block;
    width: 170px;
    text-align: left;
}

@media screen and (min-width: 800px) {
    
    .TextGlobal {
        width: 30%;
        height: 30%;
    }
    
    .Formulaire h1{
        padding-top: 25px;
        margin-bottom: 10px;    
    }
}