.header {
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: white;
    border-bottom: 2px solid white;
    height: 10vh;
    margin-bottom: 0;
    display: flex;
    flex-direction: row;
}


.Header-logo {
    height: 60%;
    margin-top: 20px;
    padding-left: 10px;
}

.icons {
    width: 60%;
    height: 100%;
    align-self: right;
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    margin-right: 10px;
    object-position: 50% 50%;
}

.icons-container {
    max-width: 40px;
}

.add-header {
    height: auto;
    width: 100%;
    margin-left: 5px;
    object-fit: contain;
    z-index: 6;
    object-position: 100% 50%;
}

.empty-like-header {
    height: auto;
    width: 75%;
    margin-left: 8px;
    object-fit: contain;
    z-index: 7;
    object-position: 100% 50%;
}

.button-icon {
    height: 55%;
    width: 50px;
    display: flex;
    justify-content: left;
    margin-left: 6px;
    object-fit: contain;
    z-index: 7;
    object-position: 100% 50%;
    border: none;
    background-color: white;
}

.button-img {
    height: 90%;
    width: 90%;
    object-fit: contain;
    z-index: 8;
    object-position: 100% 48%;
    align-self: left;
}


