.header {
    position: sticky;
    top: 0;
    z-index: 101;
    background-color: white;
    height: 80px;
    display: flex;
    justify-content: space-between;
}
.logo-container {
    max-width: 50%; 
}
.Header-logo {
    height: 70%;
    margin-top: 13px;
    padding-left: 5px;
}

.icons {
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    padding-right: 5px;
    object-position: 50% 50%;
}

.icons-container {
    max-width: 40px;
}

.add-header {
    width: 100%;
    margin-left: 5px;
    object-fit: contain;
    object-position: 100% 50%;
}

.empty-like-header {
    width: 75%;
    margin-left: 8px;
    object-fit: contain;
    object-position: 100% 50%;
}

.button-icon {
    height: 55%;
    width: 50px;
    margin-left: 6px;
    object-fit: contain;
    object-position: 100% 50%;
    border: none;
    background-color: white;
}

.button-img {
    height: 90%;
    width: 90%;
    object-fit: contain;
    object-position: 100% 48%;
    align-self: left;
    cursor: pointer;
}


@media screen and (min-width: 800px) {
    .icons-container {
        max-width: 40px;
        position: right;
    }

    .icons {
        max-width: 50%;
        display: flex;
        flex-direction: row;
    }       
}    

