
.navfooter {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 4px;
    position: sticky;
    bottom: 0;
    z-index: 100;
    background-color: white;
}

.foot-icon {
    height: 30px;
}

.foot-icon-profile {
    height: 26px;
    border-radius: 50%;
    border:2px solid var(--gold-color);
}