.NavProfile {
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
    border-top: 1px solid var(--dark-main-color);
    border-bottom: 1px solid var(--dark-main-color);
    margin-bottom: 30px;
}