.NavProfile {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    border-bottom: 2px solid var(--border-color);
    margin-bottom: 30px;
    position: sticky;
    top: 10.2vh;
    z-index: 100;
    background-color: white;

}