.Player {
    background-color: white;
    width: 250px;
    height: 265px;
    border: 1px solid #eeeeee;
    perspective: 1000px;
}

.Player .box-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.5s;
    transform-style: preserve-3d;
}

.box-front,
.box-back {
    position: absolute;
    width: 100%;
    height: 90%;
    backface-visibility: hidden;
}

.box-front {
    background-color: white;
    color: #111111;
}

.box-back {
    background-color: white;
    color: grey;
    transform: rotateY(180deg);
}

.Player.dead .box-inner {
    transform: rotateY(180deg);
}

.Player img {
    height: 65%;
    width: 85%;
    border-radius: 2%;
    margin: 8px;
    margin-top: 12px;
}

.player-name {
    height: 50px;
    font-family: 'Allan', cursive;
    font-size: 18px;
}

.total-life {
    color: white;
    background-color: red;
    font-size: 16pt;
    font-weight: bold;
    width: 100%;
    height: 30px;
}

.Life {
    background-color: lime;
    height: 30px;
    max-width: 100%;
}

.hit {
    animation: shake 0.82s cubic-bezier(.36, .07, .19, .97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
}

@keyframes shake {
    10%,
    90% {
        transform: translate3d(-1px, 0, 0);
    }
    20%,
    80% {
        transform: translate3d(2px, 0, 0);
    }
    30%,
    50%,
    70% {
        transform: translate3d(-4px, 0, 0);
    }
    40%,
    60% {
        transform: translate3d(4px, 0, 0);
    }
}

@media screen and (min-width: 800px) {
    .Player {
        width: 230px;
        height: 375px;
        margin: 10px;
        margin-top: 13px;
        perspective: 1000px;
    }
    .Player img {
        height: 250px;
        width: 200px;
        margin-top: 13px;
    }
    .player-name {
        margin: 10px;
        margin-bottom: 13px;
    }
    .total-life {
        width: 100%;
        height: 30px;
    }
    .Life {
        height: 30px;
        width: 200px;
    }
    .hit {
        animation: shake 0.82s cubic-bezier(.36, .07, .19, .97) both;
        transform: translate3d(0, 0, 0);
        backface-visibility: hidden;
        perspective: 1000px;
    }
}