.post-card {
    width: 100%;
    height: 50vh;
    object-fit: cover;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 0 0;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    margin-bottom: 20px;    
}

.Post-postname {  
    font-size: 12px;
    text-align: left;
    padding-left: 5%;
}


.post-img {
    width: 100%;
    height: 65%;
    align-self: center;  
}

.post-caption {
    padding: 0px 5%;
    text-align: center;  
}

.post-date {
    font-size: 12px;
    text-align: left;
    padding-left: 5%;
}