.post-card {
    width: 80%;
    height: 340px;
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 10px;
    background-color: rgba(255,255,255, 0.7);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 5px;
    box-shadow: 6px 6px 5px 0px rgba(33,33,33,0.64);
    -webkit-box-shadow: 6px 6px 5px 0px rgba(33,33,33,0.64);
    -moz-box-shadow: 6px 6px 5px 0px rgba(33,33,33,0.64);
}

.Post-postname {  
    font-size: 16px;
    text-align: left;
    margin-left: 20px;
    padding-bottom: 10px;
}

.img-container {
    display: flex;
    align-self: center;
    margin: 10px;
}

.post-img { 
    max-height: 150px;
    width: 250px;
    object-fit: contain;
    align-self: center;  
    background-color: #272727;
    opacity: 1;
}

.who-posted {
    font-weight: bold;
}

.post-caption {
    width: 245px;
    padding: 0px 5%;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 16px;
    /* text-align: justify;   */
    font-size: 12px;
}

.post-date {
    font-size: 12px;
    text-align: left;
    padding-left: 5%;
    margin-left: 16px;
}

.favorite-emoji {
    display: flex;
    justify-content: end;
    margin-right: 20px;
    margin-top: -10px;
    cursor: pointer;

}

.microUserLike {
font-size: 10px;
padding-left: 5px;

}

.icon-profile {
    height: 15px;
    border-radius: 50%;
    border:2px solid var(--gold-color);
    margin-left: 20px;
}

.like-container{
    display: flex;
    flex-direction: row;
}

.microUserLike{
    padding-top: 5px;
}
@media screen and (min-width: 800px) {
    .post-card {
        width: 450px;
        height: 450px;
        color: --text-color;
        display: flex;
        flex-wrap: wrap;
        margin-left: 20px;
        margin-right: 20px;
        margin-bottom: 10px;
        background-color: rgba(255, 255, 255, 0.808);
        /*opacity: 0.85;*/
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        border-radius: 5px;
    }
    
    .Post-postname {  
        font-size: 20px;
        text-align: center;
    }
    
    .img-container {
        display: flex;
        align-self: center;
        /* margin: 20px; */
        height: 150px;
        width: 300px;
    
    }
    
    .post-img { 
        height: 100%;
        width: 100%;
        object-fit: contain;
        align-self: center;  
        background-color: #272727;
        opacity: 1;
    }
    
    .who-posted {
        font-weight: bold;
    }
    
    .post-caption {
        width: 345px;
        font-size: 15px;
        margin-left: auto;
        margin-right: auto;
    }
    
    .post-date {
        font-size: 12px;
        text-align: left;
        margin-left: 7%;
        
    }

    .like-container{
        margin-bottom: 20px;
    }
}

