.SearchBar {
    height: 84vh;
    text-align: center;
    padding-top: 40px;
    background-image: linear-gradient(315deg, #d8dede 0%, #e5bdf6 74%);
}
.input {
    width: 80%;
    height: 20px;
    text-align: center;
    border: var(--strong-glue-border);
    align-self: center;
}

.suggestion {
    color: white;
    width: 70%;
    margin: 0px auto;
    padding: 5px;
}

.suggestion-list {
    overflow: hidden;
    border-bottom: 1px solid white;
    padding: 0 0 10px;
}

.profile-pic {
    float: left;
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 0 10px 0 0;
    cursor: pointer;
}

.name {
    display: block;
    width: 100%;
    font-weight: bolder;
    margin-top: 15px;
}

h4 {
    color: rgb(47, 55, 81);
    margin-bottom: 20px;
    margin-top: 10px;
}

.searchbar-container {
    width: 80%;
    height: 100px;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    background-color: rgba(255, 255, 255, 0.4);
    box-shadow: 6px 6px 5px 0px rgba(33, 33, 33, 0.64);
    border-radius: 5px;
}

@media screen and (min-width: 800px) {
    .SearchBar {
        height: 82vh;
        width: 100%;
        text-align: center;
        padding-top: 40px;
        background-color: grey;
        position: sticky;
    }

    .input {
        height: 5vh;
        width: 50%;
        text-align: center;
        margin-bottom: 5px;
        font-size: large;
    }

    .suggestion {
        color: white;
        width: 50%;
        margin: 0px auto;
        padding: 15px;
    }

    .suggestion-list {
        overflow: hidden;
        border-bottom: 1px solid white;
        padding: 0 0 10px;
    }

    .profile-pic {
        float: left;
        display: block;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        margin: 0 10px 0 0;
        cursor: pointer;
    }

    .name {
        display: block;
        width: 100%;
        font-weight: bolder;
        margin-top: 15px;
        cursor: pointer;
    }

    .searchbar-container {
        width: 60%;
        height: 150px;
        display: flex;
        flex-direction: column;
        margin-top: auto;
        margin-bottom: auto;
        margin-left: auto;
        margin-right: auto;
        opacity: 0.85;
        box-shadow: 6px 6px 5px 0px rgba(33, 33, 33, 0.64);
        border-radius: 5px;
        background-color: rgba(255, 255, 255, 0.4);
    }

    h4 {
        font-size: x-large;
        padding-top: 15px;

    }
}