.User-profile-pic {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border:2px solid var(--strong-glue-border);
    padding: 2px;
}

.User-profile-name {
    font-size: 9px;
    text-align: center;
    color: black;
    font-weight: 500;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 10px;
}

.User {
    height: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
}

.user-container {
    height: 100%;
}

@media screen and (min-width: 800px) {
    .User-profile-pic {
        width:150px;
        height:150px;
    }
    .User-profile-pic:hover {        
            animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
            transform: translate3d(0, 0, 0);
            backface-visibility: hidden;
            perspective: 1000px;
    }
          
    @keyframes shake {
            10%, 90% {
              transform: translate3d(-1px, 0, 0);
            }
            
            20%, 80% {
              transform: translate3d(2px, 0, 0);
            }
          
            30%, 50%, 70% {
              transform: translate3d(-4px, 0, 0);
            }
          
            40%, 60% {
              transform: translate3d(4px, 0, 0);
            }
          }
    
    .User-profile-name {
        font-size: 15px;
        text-align: center;
        color: black;
        font-weight: 500;
        margin-top: 0px;
        margin-bottom: 0px;
        padding-bottom: 15px;
    }
    
}