* {
    margin: 0;
    padding: 0;
    font-family: 'PT Sans Narrow', sans-serif;
    text-decoration: none;
}

:root {
    --main-color: #c0c0c0;
    --second-color: #dac3d6;
    --third-color: #ffc2d1;
    --text-color: #272727;
    --border-color: #ffc6b1;
    --dark-main-color: #494949;
    --dark-second-color: #ffd988;
    --dark-third-color: #f9f871;
    
}

a {
    color: #272727;
}

