* {
    margin: 0;
    padding: 0;
    font-family: 'PT Sans Narrow', sans-serif;
    text-decoration: none;
}

:root {
    /*light mode*/
    --back-color: white;
    --text-color: #272727;
    --border-color: #363636;
    /*metalic borders*/
    --gold-color: #fad014;
    --silver-color: #969696;
    --bronze-color: #965205;
    /*dark mode*/
    --dark-main-color: #494949;
    --light-color-dark-mode:#c0c0c0;
    --mid-color-dark-mode: #6E6E6E;
    --text-dark-mode: #ededed;
}

a {
     color: #272727;
}

